
*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box ;
  font-family: "Poppins";
  font-weight: 400;
  font-size: medium;
}
/* body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif''
} */