.container{
    display: flex;
    justify-content: center;
    height: 85svh;
    align-items: center;
    background:snow;
}
.cardContainer{
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 75vw;
    background : white;
    box-shadow: 10px 10px 15px gray
}
.cardContainer_left{
    flex:0.6;
    padding:2rem;
    text-align: center;
}
.cardContainer_right{
    flex:0.4;
    background: rgb(46, 103, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardleft_heading{
    color: rgba(10, 10, 10, 0.653);
    font-weight: bold;
    font-size: 1.8rem;
}
.inputField{
    padding-inline: 1.3rem;
    padding-block:0.8rem;
    outline:none;
    border-radius:10px;
    border:1px solid silver;
    width: 100%;

}
.inputContainers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:1.3rem;
    max-width: 400px;
    margin: 0 auto;
    gap:1.5rem;
}
.inputRow{
    width: fit-content;
    display: flex;
gap:1.2rem
}
.buttonWithOutline{
 padding: 0.8rem 1.3rem;
 background: rgba(192, 192, 192, 0.734);
 width: 100%;
 border-radius: 10px;
 cursor: pointer;
}
.buttonWithOutline:hover{
 background: silver;   
}
.buttonWithOutline2{
 padding: 0.8rem 1.3rem;
 background: rgb(255, 255, 255);
 width: 100%;
 border-radius: 10px;
 cursor: pointer;
}
.buttonWithOutline2:hover{
    background: rgba(255, 255, 255, 0.896);
}


@media only screen and (max-width:600px){
  .cardContainer{
    display: grid;
    width: 80vw;
    background : white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.764)
  } 
}



