.container{
    padding:0.8rem;
      
    margin-bottom: 18px;
  box-shadow: 0px 0px 6px rgb(0, 0, 0,0.2);
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navBarOptionContainer{
    display: flex;
}
.buttonJoin{

  cursor: pointer;
  
  transition: all 0.2s;
  
  font-size:1.4rem;
  background: #cb6a66;
  color: white;
  border-radius: 10px;
  font-size: medium;
  padding: 8px 15px;
  border: none;
}
.buttonJoin:hover{
    background-color: #d8807d;
}

@media only screen and (max-width:600px){
    .nameRender{
        display: none;
    }
    .container{

 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}


}