.discover_box{
    display:flex;
flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 3px;
}
.allUserProfile{
    max-width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.userCard{
    display: flex;
    gap: 1.2rem;
    cursor: pointer;
    padding: 1.3rem;
    align-items :center;
    box-shadow: 10px 10px 10px 0 rgba(0,0 ,0,0.1);
}
.useCard_image{
    width:8%;
    border-radius: 100%;
}
@media only screen and (max-width:600px){
  .useCard_image{
    width:16%;
   
}  
}