.userCard{
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);   
}
.profilePicture > img {
    width: 4.5rem;
    border-radius: 50%;
}
.myConnection {
     display: flex;
     width: 100%;
     justify-content: space-between;
     padding-bottom: 1.5rem;
     cursor: pointer;
}

  
                   


                  .connectBtn{
    padding-inline:0.8rem;
    padding-block: 0.3rem;
    background: rgb(59, 159, 252);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 18px;
}
